.env
.venv/
data_raw/
data_analysis
*.xlsx
old/
api docs/


# Ignore data files
/data/

# Keep config structure but ignore contents
/config/*.csv
/config/*.xlsx
/config/*.json
/config/*.yaml
/config/*.yml
/config/*.ini
/config/*.env

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
